body {
    background-color: #F5EFE6;
}
hr{
    border-color: #AEBDCA;
    border-width: 5px;
    border-style: none;
    border-top-style: dotted;
    height: 0px;
    width: 5%;
}
img{
    height: 250px;
}
h1{
    color: #7895B2;
}